@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,600;0,700;0,800;0,900;1,300&display=swap");

.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
}

.fira-sans-semibold {
  font-family: "Fira Sans", serif;
  font-weight: 600;
}

.fira-sans-extrabold {
  font-family: "Fira Sans", serif;
  font-weight: 800;
}

.fira-sans-black {
  font-family: "Fira Sans", serif;
  font-weight: 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  list-style: none;
}
body {
  background-color: #f5f5f5;
}
/* for evrey section */
section {
  margin-top: 2rem;
}
/* fix width for all section */
.width {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
}
/* for btn */

.navber {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}
.navber button {
  border: 1px solid #006a50;
  padding: 10px 20px;
  background-color: white;
  color: #006a50;
  font-family: "Fira Sans", serif;
  font-weight: 600;
  border-radius: 5px;
  font-size: 18px;
}

.navber h1 {
  font-size: 34px;
  font-family: "Fira Sans", serif;
  font-weight: 800;
}
/* hero section */
.hero {
  height: 560px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  background-color: #c6e4d6;
  border-radius: 10px;
}
.hero-text {
  font-size: 56px;
  line-height: 1.4;
  margin-bottom: 5rem;
  padding-top: 10px;
  font-family: "Fira Sans", serif;
  font-weight: 400;
}
.btn {
  background-color: #006a50;
  padding: 20px 25px;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 10px;
}
.cards-items {
  display: flex;
  justify-content: space-between;
  gap: 0.3rem;
}
.card {
  background-color: white;
  margin-top: 1rem;
  border-radius: 10px;
  padding: 30px;
  font-family: "Fira Sans", serif;
  font-weight: 400;
}
.card img,
h3 {
  margin-bottom: 1rem;
}
.pilars h1 {
  font-size: 40px;
  margin-bottom: 1rem;
}
.card {
  border-top: 2px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
/* vision section */
.vision-titel {
  font-size: 40px;
  margin-bottom: 1rem;
}
.vision-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.vision-card {
  background-color: #bbd1f5;
  padding: 40px;
  border-radius: 10px;
  font-family: "Fira Sans", serif;
  font-weight: 400;
}
.vision-card p {
  font-family: "Fira Sans", serif;
  font-weight: 400;
}
.vision-card img {
  margin-bottom: 1rem;
}
.vision-card h3 {
  font-size: 20px;
}
.secend-card {
  background-color: #c6e4d6;
}
.third-card {
  background-color: #f7ebcf;
}
.vision-btn {
  background-color: seagreen;
  padding: 10px 12px;
  border: none;
  border-radius: 5px;
  color: white;
  margin-top: 1rem;
}
.yunus img {
  position: relative;
  top: 0;
  left: 0;
}
.quote-section {
  background-color: white;
  border: 1px solid black;
  padding: 30px;
}
/* aita thik korte hobe */
/* Satellite  section */
.news-titel {
  font-size: 40px;
  font-family: "Fira Sans", serif;
  font-weight: 800;
  margin-bottom: 0.5rem;
}

.news-text {
  font-family: "Fira Sans", serif;
  margin-bottom: 1rem;
  font-size: 15px;
}
.Satellite-card {
  border: 1px solid wh;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
}
.Satellite-text {
  padding: 30px;
  font-family: "Fira Sans", serif;
}

.Satellite-text h2 {
  font-size: 32px;
  font-family: "Fira Sans", serif;
  font-weight: bold;
}
.Satellite-text p {
  line-height: 1.7;
}
.Satellite-img {
  padding: 20px;
}
.Satellite-img img {
  border-radius: 20px;
}
/* donat today section */
.donat {
  font-family: "Fira Sans", serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 30px;
}
.donat h1 {
  font-size: 40px;
  margin-bottom: 1rem;
}
.donat p {
  font-family: "Fira Sans", serif;
  margin-bottom: 2rem;
}
.donat-btn {
  padding: 24px 38px;
  font-family: "Fira Sans", serif;
  font-size: 24px;
  margin-right: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  font-weight: bold;
  background-color: white;
}

.donat input {
  text-align: center;
  padding: 10px 12px;
  border-radius: 10px;
  font-size: 18px;
  font-family: "Fira Sans", serif;
}
.donat-btns .donat-btn:nth-child(2) {
  background-color: #87d8b2;
  color: white;
  border: 1px solid #004a38;
}
.donat-now-btn {
  padding: 14px 26px;
  border: none;
  background-color: seagreen;
  color: white;
  margin: 1rem;
  margin-left: 45%;
  border-radius: 8px;
}

/* subscribe section */
.newslatter-sec {
  background-color: #aee7cd;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  border-radius: 20px;
}
.newslatter-sec h1 {
  font-size: 40px;
  font-family: "Fira Sans", serif;
  font-weight: 800px;
}
.newslatter-sec p {
  font-family: "Fira Sans", serif;
  margin: 1rem 0;
  text-align: center;
  font-size: 14px;
}
.newslatter-sec input {
  padding: 14px 280px;
  text-align: center;
  border: 2px solid;
  border-image: linear-gradient(45deg, #006a50, #00cc99) 1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.newslatter-sec button {
  padding: 16px 24px;
  border: none;
  background-color: seagreen;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* for footer */
footer {
  margin-top: 2rem;
  font-family: "Fira Sans", serif;
  text-align: center;
}
footer h1 {
  font-size: 40px;
}
.icons {
  margin-bottom: 1rem;
}
.icons img {
  padding-right: 10px;
  margin-top: 1rem;
}
/* opinioun section */
.opinion-section {
  width: 90%;
  padding: 30px;
  margin: 5rem auto;
  border-radius: 14px;
}

.opinion-section h2 {
  font-size: 40px;
  margin-bottom: 20px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
}

table {
  width: 100%;
  background-color: #f9f9f9;
  border-collapse: collapse;
}

thead th {
  background-color: #c6e4d6;
  color: #333;
  text-align: left;
  padding: 14px;
  font-family: "Fira Sans", sans-serif;
}

tbody td {
  padding: 14px;
  font-family: "Fira Sans", sans-serif;
  border: 1px solid #ddd;
}

select {
  padding: 8px 12px;
  border: 1px solid #006a50;
  border-radius: 5px;
  background-color: #e6f7ec;
  font-family: "Fira Sans", sans-serif;
  color: #006a50;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
button:hover {
  background-color: white;
  background: linear-gradient(45deg, #4caf50, #00897b, #3f51b5);
  color: white;
}
img {
  transition: transform 0.5s ease, filter 0.5s ease;
}
img:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}
